@import "tailwindcss";

@theme {
  --color-primary: #008751;
  --color-destructive: #ef4444;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}
